@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poiret+One&family=Source+Code+Pro:wght@500&display=swap");

* {
  font-family: "Amatic SC", cursive;
  font-family: "Poiret One", cursive;
  font-family: "Source Code Pro", monospace;
}

button {
    background: gray;
    color: #000000;
    border: solid;
    border-width: 1px;
    padding: 20px;
    min-width: 60px;
    margin: 5px;
    outline: black;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(to bottom right, whitesmoke, darkgrey);
}
button:active{
    box-shadow: none;   
}

input[type=submit] {
    background: gray;
    color: #000000;
    border: solid;
    border-width: 1px;
    padding: 20px;
    min-width: 60px;
    margin: 5px;
    outline: black;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(to bottom right, whitesmoke, darkgrey);
}
input[type=submit]:active{
    box-shadow: none;   
}

input[type=number] {
    background: white;
    color: #000000;
    border: solid;
    border-width: 1px;
    padding: 20px;
    min-width: 60px;
    margin: 5px;
    outline: black;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(to bottom right, whitesmoke, darkgrey);
}

.parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  background-color: dodgerblue;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px 3px black;
}

.title-h1 {
    scale: 1;
    transition: scale 2s;
}

.title-h1:hover {
    scale: 1.1;
    transition: scale 1s;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quantity-section {
  border: solid red;
  scale: 1;
  transition: scale 1s;
}
.quantity-section:hover {
  scale: 1.005;
    transition: scale 1s;
}

.dice-type-section {
  border: solid turquoise;
  scale: 1;
  transition: scale 1s;
}
.dice-type-section:hover {
  scale: 1.005;
    transition: scale 1s;
}

.dialpad {
  border: solid;
  border-color: salmon solid;
}

.results-section {
  border: solid;
  transition: scale 1s;
}
.results-section:hover {
  scale: 1.005;
    transition: scale 1s;
}

.roll-button {
    border: blue solid;
    transition: scale 1s;
}
.roll-button:hover {

    scale: 1.005;
    transition: scale 1s;
}

section {
    min-height: fit-content;
    text-align: center;
}

@media screen and (min-width: 800px) {
}
